In [2]:
import pandas as pd
import numpy as np
import os

dfs = {}

path = "../data"

files = os.listdir(path)

for file in files:
    if file.endswith('.csv'):
        df = pd.read_csv(os.path.join(path,file))
        name = os.path.splitext(file)[0]
        dfs[name] = df

In [4]:
dfs.keys()

dict_keys(['team_stats_misc_po', 'team_stats_misc_rs', 'team_stats_advanced_rs', 'team_stats_scoring_po', 'team_stats_four_factors_rs', 'team_stats_advanced_po', 'team_stats_scoring_rs', 'team_stats_four_factors_po', 'player_stats_scoring_rs', 'player_stats_scoring_po', 'player_stats_advanced_rs', 'player_stats_advanced_po', 'team_stats_defense_rs', 'player_stats_misc_rs', 'team_stats_defense_po', 'player_stats_misc_po', 'player_index', 'team_stats_opponent_po', 'player_stats_traditional_po', 'team_stats_traditional_po', 'player_stats_usage_po', 'team_stats_opponent_rs', 'team_stats_traditional_rs', 'player_stats_usage_rs', 'player_stats_defense_po', 'player_stats_defense_rs', 'player_stats_traditionnal_rs'])

In [8]:
df_player_index = dfs['player_index']
df_player_index

,Unnamed: 0,PERSON_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,TEAM_SLUG,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,...,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,ROSTER_STATUS,PTS,REB,AST,STATS_TIMEFRAME,FROM_YEAR,TO_YEAR
0,0,76001,Abdelnaby,Alaa,alaa-abdelnaby,1610612757,blazers,0,Portland,Trail Blazers,...,1990.0,1.0,25.0,NaN,5.7,3.3,0.3,Career,1990,1994
1,1,76002,Abdul-Aziz,Zaid,zaid-abdul-aziz,1610612745,rockets,0,Houston,Rockets,...,1968.0,1.0,5.0,NaN,9.0,8.0,1.2,Career,1968,1977
2,2,76003,Abdul-Jabbar,Kareem,kareem-abdul-jabbar,1610612747,lakers,0,Los Angeles,Lakers,...,1969.0,1.0,1.0,NaN,24.6,11.2,3.6,Career,1969,1988
3,3,51,Abdul-Rauf,Mahmoud,mahmoud-abdul-rauf,1610612743,nuggets,0,Denver,Nuggets,...,1990.0,1.0,3.0,NaN,14.6,1.9,3.5,Career,1990,2000
4,4,1505,Abdul-Wahad,Tariq,tariq-abdul-wahad,1610612758,kings,0,Sacramento,Kings,...,1997.0,1.0,11.0,NaN,7.8,3.3,1.1,Career,1997,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4815,4815,1627790,Zizic,Ante,ante-zizic,1610612739,cavaliers,0,Cleveland,Cavaliers,...,2016.0,1.0,23.0,NaN,6.0,3.9,0.6,Career,2017,2019
4816,4816,78647,Zoet,Jim,jim-zoet,1610612765,pistons,0,Detroit,Pistons,...,NaN,NaN,NaN,NaN,0.3,1.1,0.1,Career,1982,1982
4817,4817,78648,Zopf,Bill,bill-zopf,1610612749,bucks,0,Milwaukee,Bucks,...,1970.0,2.0,33.0,NaN,2.2,0.9,1.4,Career,1970,1970
4818,4818,1627826,Zubac,Ivica,ivica-zubac,1610612746,clippers,0,LA,Clippers,...,2016.0,2.0,32.0,1.0,10.8,9.9,1.0,Season,2016,2022
4819,4819,78650,Zunic,Matt,matt-zunic,1610610036,NaN,1,Washington,Capitols,...,1947.0,NaN,NaN,NaN,4.9,NaN,0.9,Career,1948,1948

In [9]:
missing_values = df_player_index.isnull().sum()
print(missing_values)

Unnamed: 0              0
PERSON_ID               0
PLAYER_LAST_NAME        0
PLAYER_FIRST_NAME       1
PLAYER_SLUG             0
TEAM_ID                 0
TEAM_SLUG             266
IS_DEFUNCT              0
TEAM_CITY               0
TEAM_NAME               0
TEAM_ABBREVIATION       0
JERSEY_NUMBER         342
POSITION               49
HEIGHT                 48
WEIGHT                 52
COLLEGE                 0
COUNTRY                 1
DRAFT_YEAR           1237
DRAFT_ROUND          1434
DRAFT_NUMBER         1502
ROSTER_STATUS        4312
PTS                    24
REB                   316
AST                    24
STATS_TIMEFRAME         0
FROM_YEAR               0
TO_YEAR                 0
dtype: int64

In [12]:
duplicates = df_player_index.duplicated()
print(duplicates.sum())

0

In [20]:
miss_pos = df_player_index[df_player_index['POSITION'].isnull()]
miss_pos

Empty DataFrame
Columns: [Unnamed: 0, PERSON_ID, PLAYER_LAST_NAME, PLAYER_FIRST_NAME, PLAYER_SLUG, TEAM_ID, IS_DEFUNCT, TEAM_CITY, TEAM_NAME, TEAM_ABBREVIATION, POSITION, HEIGHT, WEIGHT, COLLEGE, COUNTRY, DRAFT_YEAR, DRAFT_ROUND, DRAFT_NUMBER, PTS, REB, AST, STATS_TIMEFRAME, FROM_YEAR, TO_YEAR]
Index: []

[0 rows x 24 columns]

In [14]:
df_player_index = df_player_index.drop(columns=['TEAM_SLUG','JERSEY_NUMBER','ROSTER_STATUS'])

In [31]:
# df_player_index = df_player_index.dropna(subset=['POSITION'])
missing_values = df_player_index.isnull().sum()
print(missing_values)

Unnamed: 0              0
PERSON_ID               0
PLAYER_LAST_NAME        0
PLAYER_FIRST_NAME       1
PLAYER_SLUG             0
TEAM_ID                 0
IS_DEFUNCT              0
TEAM_CITY               0
TEAM_NAME               0
TEAM_ABBREVIATION       0
POSITION                0
HEIGHT                  0
WEIGHT                  2
COLLEGE                 0
COUNTRY                 0
DRAFT_YEAR           1198
DRAFT_ROUND          1389
DRAFT_NUMBER         1454
PTS                    24
REB                   280
AST                    24
STATS_TIMEFRAME         0
FROM_YEAR               0
TO_YEAR                 0
dtype: int64

In [36]:
df_player_index[df_player_index["WEIGHT"].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, PERSON_ID, PLAYER_LAST_NAME, PLAYER_FIRST_NAME, PLAYER_SLUG, TEAM_ID, IS_DEFUNCT, TEAM_CITY, TEAM_NAME, TEAM_ABBREVIATION, POSITION, HEIGHT, WEIGHT, COLLEGE, COUNTRY, DRAFT_YEAR, DRAFT_ROUND, DRAFT_NUMBER, PTS, REB, AST, STATS_TIMEFRAME, FROM_YEAR, TO_YEAR]
Index: []

[0 rows x 24 columns]

In [35]:
df_player_index.loc[df_player_index['PERSON_ID'] == 78612, "WEIGHT"] = 175

In [69]:
dfs.keys()

dict_keys(['team_stats_misc_po', 'team_stats_misc_rs', 'team_stats_advanced_rs', 'team_stats_scoring_po', 'team_stats_four_factors_rs', 'team_stats_advanced_po', 'team_stats_scoring_rs', 'team_stats_four_factors_po', 'player_stats_scoring_rs', 'player_stats_scoring_po', 'player_stats_advanced_rs', 'player_stats_advanced_po', 'team_stats_defense_rs', 'player_stats_misc_rs', 'team_stats_defense_po', 'player_stats_misc_po', 'player_index', 'team_stats_opponent_po', 'player_stats_traditional_po', 'team_stats_traditional_po', 'player_stats_usage_po', 'team_stats_opponent_rs', 'team_stats_traditional_rs', 'player_stats_usage_rs', 'player_stats_defense_po', 'player_stats_defense_rs', 'player_stats_traditionnal_rs'])

In [37]:
df_player_stats_scoring_rs = dfs['player_stats_scoring_rs']
df_player_stats_scoring_po = dfs['player_stats_scoring_po']
df_player_stats_advanced_rs = dfs['player_stats_advanced_rs']
df_player_stats_advanced_po = dfs['player_stats_advanced_po']
df_player_stats_misc_rs = dfs['player_stats_misc_rs']
df_player_stats_misc_po = dfs['player_stats_misc_po']
df_player_stats_traditional_po = dfs['player_stats_traditional_po']
df_player_stats_traditional_rs = dfs['player_stats_traditionnal_rs']
df_player_stats_usage_po = dfs['player_stats_usage_po']
df_player_stats_usage_rs = dfs['player_stats_usage_rs']
df_player_stats_defense_po = dfs['player_stats_defense_po']
df_player_stats_defense_rs = dfs['player_stats_defense_rs']


df_player_stats_traditional_po = df_player_stats_traditional_po.drop(columns=['NBA_FANTASY_PTS','WNBA_FANTASY_PTS','NBA_FANTASY_PTS_RANK','WNBA_FANTASY_PTS_RANK'])
df_player_stats_traditional_rs = df_player_stats_traditional_rs.drop(columns=['NBA_FANTASY_PTS','WNBA_FANTASY_PTS','NBA_FANTASY_PTS_RANK','WNBA_FANTASY_PTS_RANK'])

# pd.set_option('display.max_rows', None)
df_player_stats_defense_rs.isnull().sum()

PLAYER_ID                  0
PLAYER_NAME                0
NICKNAME                   0
TEAM_ID                    0
TEAM_ABBREVIATION          0
AGE                        0
GP                         0
W                          0
L                          0
W_PCT                      0
MIN                        0
DEF_RATING                 0
DREB                       0
DREB_PCT                   0
PCT_DREB                   0
STL                        0
PCT_STL                    0
BLK                        0
PCT_BLK                    0
OPP_PTS_OFF_TOV            0
OPP_PTS_2ND_CHANCE         0
OPP_PTS_FB                 0
OPP_PTS_PAINT              0
DEF_WS                     0
GP_RANK                    0
W_RANK                     0
L_RANK                     0
W_PCT_RANK                 0
MIN_RANK                   0
DEF_RATING_RANK            0
DREB_RANK                  0
DREB_PCT_RANK              0
PCT_DREB_RANK              0
STL_RANK                   0
PCT_STL_RANK               0
BLK_RANK                   0
PCT_BLK_RANK               0
OPP_PTS_OFF_TOV_RANK       0
OPP_PTS_2ND_CHANCE_RANK    0
OPP_PTS_FB_RANK            0
OPP_PTS_PAINT_RANK         0
DEF_WS_RANK                0
SEASON                     0
dtype: int64

In [38]:
# df_player_stats_defense_po[df_player_stats_defense_po["DEF_WS"].isnull()]
df_player_stats_defense_po = df_player_stats_defense_po.dropna(subset=['DEF_WS'])

In [39]:
df_player_index = df_player_index.rename(columns={'PERSON_ID': 'PLAYER_ID'})
df_player_index.head()

,Unnamed: 0,PLAYER_ID,PLAYER_LAST_NAME,PLAYER_FIRST_NAME,PLAYER_SLUG,TEAM_ID,IS_DEFUNCT,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,...,COUNTRY,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,PTS,REB,AST,STATS_TIMEFRAME,FROM_YEAR,TO_YEAR
0,0,76001,Abdelnaby,Alaa,alaa-abdelnaby,1610612757,0,Portland,Trail Blazers,POR,...,USA,1990.0,1.0,25.0,5.7,3.3,0.3,Career,1990,1994
1,1,76002,Abdul-Aziz,Zaid,zaid-abdul-aziz,1610612745,0,Houston,Rockets,HOU,...,USA,1968.0,1.0,5.0,9.0,8.0,1.2,Career,1968,1977
2,2,76003,Abdul-Jabbar,Kareem,kareem-abdul-jabbar,1610612747,0,Los Angeles,Lakers,LAL,...,USA,1969.0,1.0,1.0,24.6,11.2,3.6,Career,1969,1988
3,3,51,Abdul-Rauf,Mahmoud,mahmoud-abdul-rauf,1610612743,0,Denver,Nuggets,DEN,...,USA,1990.0,1.0,3.0,14.6,1.9,3.5,Career,1990,2000
4,4,1505,Abdul-Wahad,Tariq,tariq-abdul-wahad,1610612758,0,Sacramento,Kings,SAC,...,France,1997.0,1.0,11.0,7.8,3.3,1.1,Career,1997,2003

In [49]:
import json
from tqdm import tqdm

In [42]:
from pymongo import MongoClient
client = MongoClient("mongodb://root:example@localhost:27017/?retryWrites=true&w=majority")

In [50]:
nba_collection = client["dev-nba-stats-app"]["player"]
for index, player in tqdm(df_player_index.iterrows(), desc="Push Player Data to nba collection"):
    player_id = player["PLAYER_ID"]
    player_stats_rs = df_player_stats_traditional_rs[df_player_stats_traditional_rs["PLAYER_ID"] == player_id]
    player_stats_po = df_player_stats_traditional_po[df_player_stats_traditional_po["PLAYER_ID"] == player_id]
    player_stats_advanced_rs = df_player_stats_advanced_rs[df_player_stats_advanced_rs["PLAYER_ID"]== player_id]
    player_stats_advanced_po = df_player_stats_advanced_po[df_player_stats_advanced_po["PLAYER_ID"]== player_id]
    player_stats_scoring_rs = df_player_stats_scoring_rs[df_player_stats_scoring_rs["PLAYER_ID"]== player_id]
    player_stats_scoring_po = df_player_stats_scoring_po[df_player_stats_scoring_po["PLAYER_ID"]== player_id]
    player_stats_misc_rs = df_player_stats_misc_rs[df_player_stats_misc_rs["PLAYER_ID"]== player_id]
    player_stats_misc_po = df_player_stats_misc_po[df_player_stats_misc_po["PLAYER_ID"]== player_id]
    player_stats_usage_rs = df_player_stats_usage_rs[df_player_stats_usage_rs["PLAYER_ID"]== player_id]
    player_stats_usage_po = df_player_stats_usage_po[df_player_stats_usage_po["PLAYER_ID"]== player_id]
    player_stats_defense_rs = df_player_stats_defense_rs[df_player_stats_defense_rs["PLAYER_ID"]== player_id]
    player_stats_defense_po = df_player_stats_defense_po[df_player_stats_defense_po["PLAYER_ID"]== player_id]

    player_data = {
        "PLAYER_ID": player_id,
        "PLAYER_LAST_NAME": player["PLAYER_LAST_NAME"],
        "PLAYER_FIRST_NAME": player["PLAYER_FIRST_NAME"],
        "POSITION": player["POSITION"],
        "HEIGHT": player["HEIGHT"],
        "WEIGHT": player["WEIGHT"],
        "COLLEGE": player["COLLEGE"],
        "COUNTRY": player["COUNTRY"],
        "DRAFT_YEAR": player["DRAFT_YEAR"],
        "DRAFT_ROUND": player["DRAFT_ROUND"],
        "DRAFT_NUMBER": player["DRAFT_NUMBER"],
        "FROM_YEAR": player["FROM_YEAR"],
        "TO_YEAR": player["TO_YEAR"],
        "stats_rs": {
            "traditional":player_stats_rs.to_dict("records"),
            "advanced": player_stats_advanced_rs.to_dict("records"),
            "scoring" : player_stats_scoring_rs.to_dict("records"),
            "misc" : player_stats_misc_rs.to_dict("records"),
            "usage" : player_stats_usage_rs.to_dict("records"),
                    },
        "stats_po": {
            "traditional":player_stats_po.to_dict("records"),
            "advanced": player_stats_advanced_po.to_dict("records"),
            "scoring" : player_stats_scoring_po.to_dict("records"),
            "misc" : player_stats_misc_po.to_dict("records"),
            "usage" : player_stats_usage_po.to_dict("records"),
                    },
    }
    nba_collection.insert_one(player_data)

Push Player Data to nba collection: 4771it [02:16, 35.03it/s]